# .gitignore file to exclude specific files and directories from being tracked by Git

# Ignore the Data folders for Bronze, Silver, and Gold
Data/Bronze/*
!Data/Bronze/.gitkeep
Data/Silver/*
!Data/Silver/.gitkeep
Data/Gold/*
!Data/Gold/.gitkeep

.venv/
__pycache__/
*.pyc
*.pyo

# Ignore the Exemple and Tests folders that contain example and test files
Exemple/*
Tests/*

# Ignore the .env file that contains environment variables
.env

# Ignore the claude folder
.claude
dbt_internal_packages/
